.w-perc0{
    width: 0%;
}

.w-perc1 {
    width: 1%;
}
.w-perc2 {
    width: 2%;
}
.w-perc3 {
    width: 3%;
}
.w-perc4 {
    width: 4%;
}
.w-perc5 {
    width: 5%;
}
.w-perc6 {
    width: 6%;
}
.w-perc7 {
    width: 7%;
}
.w-perc8 {
    width: 8%;
}
.w-perc9 {
    width: 9%;
}
.w-perc10 {
    width: 10%;
}
.w-perc11 {
    width: 11%;
}
.w-perc12 {
    width: 12%;
}
.w-perc13 {
    width: 13%;
}
.w-perc14 {
    width: 14%;
}
.w-perc15 {
    width: 15%;
}
.w-perc16 {
    width: 16%;
}
.w-perc17 {
    width: 17%;
}
.w-perc18 {
    width: 18%;
}
.w-perc19 {
    width: 19%;
}
.w-perc20 {
    width: 20%;
}
.w-perc21 {
    width: 21%;
}
.w-perc22 {
    width: 22%;
}
.w-perc23 {
    width: 23%;
}
.w-perc24 {
    width: 24%;
}
.w-perc25 {
    width: 25%;
}
.w-perc26 {
    width: 26%;
}
.w-perc27 {
    width: 27%;
}
.w-perc28 {
    width: 28%;
}
.w-perc29 {
    width: 29%;
}
.w-perc30 {
    width: 30%;
}
.w-perc31 {
    width: 31%;
}
.w-perc32 {
    width: 32%;
}
.w-perc33 {
    width: 33%;
}
.w-perc34 {
    width: 34%;
}
.w-perc35 {
    width: 35%;
}
.w-perc36 {
    width: 36%;
}
.w-perc37 {
    width: 37%;
}
.w-perc38 {
    width: 38%;
}
.w-perc39 {
    width: 39%;
}
.w-perc40 {
    width: 40%;
}
.w-perc41 {
    width: 41%;
}
.w-perc42 {
    width: 42%;
}
.w-perc43 {
    width: 43%;
}
.w-perc44 {
    width: 44%;
}
.w-perc45 {
    width: 45%;
}
.w-perc46 {
    width: 46%;
}
.w-perc47 {
    width: 47%;
}
.w-perc48 {
    width: 48%;
}
.w-perc49 {
    width: 49%;
}
.w-perc50 {
    width: 50%;
}
.w-perc51 {
    width: 51%;
}
.w-perc52 {
    width: 52%;
}
.w-perc53 {
    width: 53%;
}
.w-perc54 {
    width: 54%;
}
.w-perc55 {
    width: 55%;
}
.w-perc56 {
    width: 56%;
}
.w-perc57 {
    width: 57%;
}
.w-perc58 {
    width: 58%;
}
.w-perc59 {
    width: 59%;
}
.w-perc60 {
    width: 60%;
}
.w-perc61 {
    width: 61%;
}
.w-perc62 {
    width: 62%;
}
.w-perc63 {
    width: 63%;
}
.w-perc64 {
    width: 64%;
}
.w-perc65 {
    width: 65%;
}
.w-perc66 {
    width: 66%;
}
.w-perc67 {
    width: 67%;
}
.w-perc68 {
    width: 68%;
}
.w-perc69 {
    width: 69%;
}
.w-perc70 {
    width: 70%;
}
.w-perc71 {
    width: 71%;
}
.w-perc72 {
    width: 72%;
}
.w-perc73 {
    width: 73%;
}
.w-perc74 {
    width: 74%;
}
.w-perc75 {
    width: 75%;
}
.w-perc76 {
    width: 76%;
}
.w-perc77 {
    width: 77%;
}
.w-perc78 {
    width: 78%;
}
.w-perc79 {
    width: 79%;
}
.w-perc80 {
    width: 80%;
}
.w-perc81 {
    width: 81%;
}
.w-perc82 {
    width: 82%;
}
.w-perc83 {
    width: 83%;
}
.w-perc84 {
    width: 84%;
}
.w-perc85 {
    width: 85%;
}
.w-perc86 {
    width: 86%;
}
.w-perc87 {
    width: 87%;
}
.w-perc88 {
    width: 88%;
}
.w-perc89 {
    width: 89%;
}
.w-perc90 {
    width: 90%;
}
.w-perc91 {
    width: 91%;
}
.w-perc92 {
    width: 92%;
}
.w-perc93 {
    width: 93%;
}
.w-perc94 {
    width: 94%;
}
.w-perc95 {
    width: 95%;
}
.w-perc96 {
    width: 96%;
}
.w-perc97 {
    width: 97%;
}
.w-perc98 {
    width: 98%;
}
.w-perc99 {
    width: 99%;
}
.w-perc100 {
    width: 100%;
}

